<footer>
    <!-- <i class="fas fa-arrow-up"></i>
    <h4>Back to top</h4> -->
</footer>
<script>
    // $('footer').click(function(){ 
    //     $('html,body').animate({ scrollTop: 0 }, 'slow');
    //     return false; 
    // });
</script>