<section class="hero">
    <div class="section-wrapper">
        <% include ./index-header.ejs %>

        <div class="content-container">
            <h1>How much do your favorite artists earn on Spotify?</h1>
            <p class="desc">Artists on Spotify receive between a third to a sixth of a penny per stream on average. Search any artist below to get an estimate on their total earnings on Spotify!</p>
            <p class="mobile-desc">Search any artist below to get an estimate on their total earnings on Spotify!</p>

            <form id="artist-form">
                <input id="artist" type="text" autocomplete="off" placeholder="Search any artist by name like 'Billy Eilish' or 'BTS'." />
                <button id="submit" type="submit" name="submit" aria-label="Submit button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="autocomplete-container">
                <% for (let i = 0; i < 10; i++){ %>
                    <a id="autocomplete-<%=i%>" class="autocomplete-item opacity-none"></a>
                <% } %>
            </div>
        </div>
    </div>
</section>