<!DOCTYPE html>
<html lang="en">
<head>
	<title>About | Penny Streams</title>
	<% include ./partials/head.ejs %>
</head>

<body class="about" id="home">
	<section class="hero">
		<div class="section-wrapper">
			<% include ./partials/index-header.ejs %>
	
			<h1><span class="sitename">Penny Streams</span> is for educational purposes only.</h1>

			<p>This website does not make any money and will never be used for future commercial purposes. None of our esimates on how much Spotify pays each artist is guarenteed as some artists and labels have deals with Spotify and Spotify uses a <a href="https://www.fim-musicians.org/wp-content/uploads/prorata-vs-user-centric-models-study-2018.pdf" target="_blank">pro rata payout distribution model</a> to calculate artist's total payout. On average, Spotify pays the copyright holder(s) $0.00318 per stream on a song, but this can vary from $0.003 - $0.006 for a variety of reasons. We also don't include featured songs to the total earnings.</p>

			<p>Have any questions? Get in touch with me via email: <a href="mailto:dev@jeith.com">dev@jeith.com</a>.</p>

			<span class="credit">Designed &amp; Developed by <a href="https://jeith.com/" target="_blank">Jeith</a></span>
		</div>
	</section>

	<% include ./partials/footer.ejs %>
</body>