<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pennystreams | How much do your favorite artists earn?</title>
	<% include ./partials/head.ejs %>
</head>

<body class="home" id="home">
	<% include ./partials/search-section.ejs %>

	<% include ./partials/footer.ejs %>
</body>