@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// ~~~~~~~~~~~~~~~~ VARS ~~~~~~~~~~~~~~~~
$light-blue: #0152e0;
$dark-blue: #F2EBD5;

html { font-family: "Inter", "system-ui"; }
 
@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui"; }
}

// ~~~~~~~~~~~~~~~~ MIXINS ~~~~~~~~~~~~~~~~
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin animation($animation, $duration, $timing-function: false, $delay: false, $direction: false, $iteration-count: false) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-direction: $direction;
  -webkit-animation-timing-function: $timing-function;
  -webkit-animation-iteration-count: $iteration-count;

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-direction: $direction;
  -moz-animation-timing-function: $timing-function;
  -moz-animation-iteration-count: $iteration-count;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-direction: $direction;
  animation-timing-function: $timing-function;
  animation-iteration-count: $iteration-count;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin justify-content($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin transition($val...) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}

@mixin user-select($val) {
  -webkit-user-select: $val;
  -moz-user-select: $val;
  -ms-user-select: $val;
  user-select: $val;
}

// ~~~~~~~~~~~~~~~~ KEYFRAMES ~~~~~~~~~~~~~~~~
@keyframes rainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } 
}

// ~~~~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~~~~
@charset "UTF-8";
html, body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: unset;
}
h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
}
h2{ 
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px;
}
span {
  font: inherit;
}
section {
  width: 100%;
}
.hide,
.hidden {
  display: none !important;
}
.opacity-none{
  opacity: 0 !important;
}
.img-wrapper{
  img{
    width: 100%;
  }
}
strong{
  font-weight: 600;
}

body{
  &:before{
    content: "";
    @include transition(all .5s ease-in-out);
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 300% 300%;
    box-sizing: border-box;
    -webkit-animation: rainbow 18s ease infinite;
    -moz-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;  
  }

  &:after{
    content: "";
    @include transition(all .5s ease-in-out);
    background: $light-blue;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &.home{

  }
  &.about {
    .hero{
      .section-wrapper{
        h1{
          font-size: 55px;
          text-align: left;

          .sitename{
            font-size: 65px;
          }
        }
        p{
          text-align: left;
          width: 100%;
          font-size: 17px;
        }
        .credit{
          position: absolute;
          bottom: 40px;

          a{
            // make rainbow colors
            font-size: 25px;
            text-decoration: none;
            font-family: 'Gorditas';
          }
        }
      }
    }
  }
  &.artist-details{

  }
  &.load-page{
    &:after{
      opacity: 1;
    }
  }

  header{
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(flex-end);
    padding: 50px;
    position: absolute;
    top: 0;
    width: 100%;

    a{
      text-decoration: none;
      color: black;
    }
    h4{
      color: black;
      font-weight: 800;
      font-size: 20px;

      &:hover{
        color: $light-blue;
      }
    }
    a{
      color: $light-blue;

      &:hover{
        text-decoration: underline;
      }
    }
  }
  .hero{
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include transition(all .25s ease-in-out);
    z-index: 5;
    min-height: 100vh;
    min-width: 100vw;

    &.autocomplete-view{
      .section-wrapper{
        .content-container{
          top: 0;
        }
        header{
          @include transform(translateY(-100px))
        }
      }
    }
    
    .section-wrapper{
      @include display-flex;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      @include box-shadow(-1px 0px 9px -1px rgba(0, 0, 0, .5));
      @include transition(all .25s ease-in-out);
      background-color: white;
      overflow: hidden;
      width: 85%;
      min-height: 90%;
      padding: 75px 75px 50px 75px;
      margin: 50px;
      border-radius: 25px;
      position: absolute;

      .content-container{
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);
        @include transition(all .25s ease-in-out);
        top: 22vh;
        padding: 75px 75px 0;
        position: absolute;
      }

      h1{
        padding-bottom: 30px;
        font-weight: 700;
        font-size: 65px;
        text-align: center;
      }
      p{
        text-align: center;
        padding-bottom: 25px;
      }
      form{
        @include display-flex;
        min-width: 75%;
        height: 44px;
        margin: 10px 0 0 0;

        &.autocomplete-active{
          input{
            border-radius: 15px 0 0 0;
          }
          button{
            border-radius: 0 15px 0 0;
          }
        }

        input{
          @include transition(all .25s ease-in-out);
          height: 100%;
          width: calc(100% - 60px);
          outline-width: 0;
          border: 1px solid #e2e2e2;
          border-right: none;
          border-radius: 15px 0 0 15px;
          padding-left: 15px;
        }
        button{
          @include display-flex;
          @include justify-content(center);
          @include align-items(center);
          @include transition(all .25s ease-in-out);
          cursor: pointer;
          background-color: white;
          border-radius: 0 15px 15px 0;
          border: 1px solid #e2e2e2;
          border-left: none;
          height: 100%;
          width: 60px;

          i{
            color: #999;
          }
        }
      }
      .autocomplete-container{
        width: 100%;
        max-width: 75%;
        height: 0;

        a{
          @include transition(all .25s ease-in-out);
          cursor: pointer;
          background-color: white;
          color: #551A8B;
          text-decoration: none;
          width: 100%;
          display: flex;
          justify-content: center;
          border: 1px solid #e6e6e6;
          border-top: none;
          padding: 10px;
          opacity: 1;
        }
      }
    }
  }
  
  #artist-info{
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    @include transition(all .25s ease-in-out);
    z-index: 5;
    padding: 50px;
    min-height: 100vh;
    min-width: 100vw;

    &.autocomplete-view{
      .section-wrapper{
        .content-container{
          top: 0;
        }
        header{
          @include transform(translateY(-100px))
        }
      }
    }
    
    .artist-info-wrapper{
      @include display-flex;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      @include box-shadow(-1px 0px 9px -1px rgba(0, 0, 0, .5));
      @include transition(all .25s ease-in-out);
      background-color: white;
      overflow: hidden;
      width: 100%;
      min-height: 90%;
      padding: 75px 75px 50px 75px;
      margin: 50px;
      margin-top: 10px;
      border-radius: 25px;
    }
  }
  .tldr-section{
    @include display-flex;
    @include align-items(center);
    min-height: calc(100vh - 160px);
    padding-bottom: 75px;
    padding-top: 75px;

    .text-container{
      width: 70%;
      padding-right: 40px;

      &.full-width{
        width: 100%;
      }
      h1{
        font-size: 90px;
      }
      p{
        font-size: 50px;

        &.disclaimer{
          font-size: 14px;
          padding-top: 20px;
          color: #666;
        }
      }
    }
    .img-container{
      width: 30%;

      &.multiple-imgs{
        cursor: pointer;

        &:hover{
          &:before{
            height: 110%;
            width: 110%;
            bottom: -5%;
            right: -5%;
            border-radius: 15px;
          }
  
          img{
            border-radius: 15px;
          }
        }
      }
      
      &:before{
        content: "";
        width: 100%;
        height: 100%;
        @include transition(all .5s ease-in-out);
        position: absolute;
        bottom: -10px;
        right: -10px;
        background: #ff2400;
        background: linear-gradient(124deg, #ff2400, #ff2400, #ff2400, #ff2400, #1de840, #1ddde8, #2b1de8, #dd00f3, #1de840, #1de840, #1de840, #1de840, #1de840, #ff2400, #ff2400, #ff2400);
        background-size: 500% 500%;
        box-sizing: border-box;
        -webkit-animation: rainbow 22s ease infinite;
        -moz-animation: rainbow 22s ease infinite;
        animation: rainbow 22s ease infinite;
      }

      img{
        @include transition(all .5s ease-in-out);
        width: 100%;
      }
    }
  }
  .related-artist-section{
    padding-bottom: 120px;

    h2{
      
    }
    .artists-container{
      @include display-flex;
      @include align-items(center);
      border-radius: 25px;
      width: 100%;

      .pager{
        @include display-flex;
        @include align-items(center);
        @include justify-content(flex-end);
        cursor: pointer;
        width: 30px;
        height: 100%;

        &:first-of-type{
          @include justify-content(flex-start);
        }

        i{

        }
      }
      .pagination-container{
        @include display-flex;
        width: 100%;
        padding-right: 10px;

        a{
          @include display-flex;
          @include align-items(center);
          @include flex-direction(column);
          width: 20%;
          padding-left: 25px;
          text-decoration: none;

          &:hover{
            .image-conatiner{
              &:after{
                @include transform(translate(10px, -10px) scale(1.1));
              }
              &.img-1{
                &:after{
                  @include transform(translate(5px, -10px) scale(1.1));
                }
              }
              &.img-2{
                &:after{
                  @include transform(translate(0, -10px) scale(1.1));
                }
              }
              &.img-3{
                &:after{
                  @include transform(translate(-5px, -10px) scale(1.1));
                }
              }
              &.img-4{
                &:after{
                  @include transform(translate(-10px, -10px) scale(1.1));
                }
              }
            }
          }

          &:first-of-type{
            padding-left: 0px;
            img{
              width: calc(100% - 20px);
            }
          }
          .image-conatiner{
            width: 150px;
            height: 150px;

            &.img-1{
              &:after{
                left: -5px;
                background-color: #e3e81d;
              }
            }
            &.img-2{
              &:after{
                left: 0;
                background-color: #1de840;
              }
            }
            &.img-3{
              &:after{
                left: 5px;
                background-color: #1ddde8;
              }
            }
            &.img-4{
              &:after{
                left: 10px;
                background-color: #2b1de8;
              }
            }

            &:after{
              content: "";
              @include transition(all .5s ease-in-out);
              position: absolute;
              bottom: -10px;
              left: -10px;
              height: 100%;
              width: 100%;
              background: #ff2400;
              border-radius: 50%;
            }
          }
          .related-artist-image{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background-size: cover !important;
            z-index: 1;
          }
          p{
            height: 18px;
            text-align: center;
            padding-top: 15px;
            color: black;
            font-size: 18px;
          }
        }
      }
    }
  }
  .album-section{
    border-radius: 15px;
    padding-bottom: 50px;
    
    h2{
    }
    .album-container{
      @include display-flex;
      padding-bottom: 30px;

      .img-container{
        height: 300px;
        width: 300px;

        &:before{
          content: "";
          @include transition(all .5s ease-in-out);
          position: absolute;
          bottom: -10px;
          left: -10px;
          height: 300px;
          width: 300px;
          background: #ff2400;
          background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
        }

        &:hover{
          &:before{
            -webkit-animation: rainbow 1s ease infinite;
            -moz-animation: rainbow 1s ease infinite;
            animation: rainbow 1s ease infinite;
          }
        }
        &.album-1{
          &:before{
            transform: rotate(90deg);
          }
        }
        &.album-2{
          &:before{
            transform: rotate(180deg);
          }
        }
        &.album-3{
          &:before{
            transform: rotate(0deg);
          }
        }
        &.album-4{
          &:before{
            transform: rotate(90deg);
          }
        }
        &.album-5{
          &:before{
            transform: rotate(180deg);
          }
        }
        &.album-6{
          &:before{
            transform: rotate(0deg);
          }
        }
        &.album-7{
          &:before{
            transform: rotate(90deg);
          }
        }
        &.album-8{
          &:before{
            transform: rotate(180deg);
          }
        }
        &.album-9{
          &:before{
            transform: rotate(0deg);
          }
        }
        &.album-10{
          &:before{
            transform: rotate(90deg);
          }
        }

        img{
          height: 300px;
          width: 300px;
        }
      }
    }
  }
  .album-summary{
    @include box-shadow(-1px 0px 9px -1px rgba(0, 0, 0, .2));
    padding: 12px 10px 0px;
    width: calc(100% - 325px);
    margin-left: 25px;
    border-radius: 5px;

    &.singles{
      width: 100%;
      margin-left: 0px;
    }

    .album-name{
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(flex-end);
      border-bottom: 1px solid #cccccc;
      padding-bottom: 10px;
      margin-bottom: 10px;

      h4{
        width: unset;
        font-size: 30px;
        font-weight: 600;
      }
      span{
        color: #777;
        white-space: nowrap;
        padding-left: 5px;
        font-size: 15px;

        &.year{
          padding-left: 10px;
        }
      }
    }
    .song-container{
      @include display-flex;
      @include justify-content(space-between);
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #ddd;
      color: #333;

      &.total{
        padding-top: 5px;
      }

      &:last-of-type{
        border-bottom: none;
      }

      .img-text-container{
        @include display-flex;
        @include align-items(center);

        img{
          width: 50px;
          border-radius: 3px;
          padding-right: 10px;
        }
      }
      p{
        font-weight: 600;
      }
      span{
        white-space: nowrap;
        
        .amt-of-streams{
          font-size: 11px;
          color: #777;
        }
      }
    }
  }
  .singles-section{
    padding-bottom: 75px;
    h2{
      
    }
    .singles-info{
      .single-container{
        .img-text-container{
          img{

          }
          p{

          }
        }
        span{

        }
      }
    }
  }
  .support-artist-section{
    h2{
      padding-bottom: 15px;
    }
    p{
      text-align: center;
      padding-bottom: 20px;
      padding-bottom: 45px;
    }
    .merch-container{
      @include display-flex;
      @include justify-content(center);

      .merch-item{
        width: calc(30vw - 125px);
        text-decoration: none;
        margin-right: 3vw;

        &:last-of-type{
          margin-right: 0;
        }

        .merch-img{
          width: 100%;
          // width: calc(30vw - 125px);
          height: calc(30vw - 125px);
          box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, .2);
        }
        .name-price-container{
          @include display-flex;
          padding-top: 15px;

          p{
            color: black;
            width: 75%;
            text-align: left;
            font-weight: 500;
          }
          span{
            color: black;
            text-align: right;
            width: 25%;
            font-weight: 500;
          }
        }
      }
    }
  }
}
.credit{
  span{
    a{
      text-decoration: none;
      font-size: 25px;
      font-weight: 700;
    }
  }
}

@media all and (max-width: 1320px) {
  body{
    .related-artist-section{
  
      h2{
        
      }
      .artists-container{
  
        .pager{
          &#page-forward{
            right: -25px;
          }
          &#page-back{
            left: -25px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1279px) {
  body{
    .hero{
      .section-wrapper{
        width: 92%;
      }
    }
    #artist-info{
      padding: 0;
    }
    .related-artist-section{
      // width: 92%;

      .artists-container{
        .pagination-container{
          a{
            div{
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1139px) {
  body{
    .hero{
      .section-wrapper{
  
        .content-container{
        }
  
        h1{
          font-size: 58px;
        }
        p{
        }
        form{
  
          input{
          }
          button{
          }
        }
        .autocomplete-container{
  
          a{
          }
        }
      }
    }
    .related-artist-section{
  
      h2{
        
      }
      .artists-container{
  
        .pager{
        }
        .pagination-container{
  
          a{

            .image-conatiner{
              width: 125px;
              height: 125px;
  
              &.img-1{
                &:after{
                }
              }
              &.img-2{
                &:after{
                }
              }
              &.img-3{
                &:after{
                }
              }
              &.img-4{
                &:after{
                }
              }
  
              &:after{
              }
            }
            .related-artist-image{
            }
            p{
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 1023px) {
  body{
    .hero{
      .section-wrapper{
        padding: 50px;

        .content-container{
        }
  
        h1{
          font-size: 50px;
        }
        p{
        }
        form{
  
          input{
          }
          button{
          }
        }
        .autocomplete-container{
  
          a{
          }
        }
      }
    }
    .tldr-section{
  
      .text-container{
        width: 70%;
        padding-right: 40px;
  
        &.full-width{
          width: 100%;
        }
        h1{
          font-size: 75px;
        }
        p{
          font-size: 40px;
  
          &.disclaimer{
          }
        }
      }
      .img-container{  
        &.multiple-imgs{
          cursor: pointer;
        }
        
        &:before{
        }
  
        img{
        }
      }
    }
    .album-section{
      
      h2{
      }
      .album-container{
        @include flex-direction(column);
        @include align-items(center);

        .img-container{
          height: 450px;
          width: 450px;

          &:before{
            height: 450px;
            width: 450px;
          }
          img{
            height: 450px;
            width: 450px;
          }
        }
        .album-summary{
          margin: 45px 0 50px 0;
          width: 100%;
        }
      }
    }
    #artist-info{
      .artist-info-wrapper{
        width: 100%;
        padding: 50px;
      }
    }
    .related-artist-section{
  
      h2{
        
      }
      .artists-container{
  
        .pager{
        }
        .pagination-container{
  
          a{

            .image-conatiner{
              width: 125px;
              height: 125px;
  
              &.img-1{
                &:after{
                }
              }
              &.img-2{
                &:after{
                }
              }
              &.img-3{
                &:after{
                }
              }
              &.img-4{
                &:after{
                }
              }
  
              &:after{
              }
            }
            .related-artist-image{
            }
            p{
            }
          }
        }
      }
    }
    .support-artist-section{
      h2{
      }
      p{
      }
      .merch-container{
  
        .merch-item{
          width: calc(30vw - 55px);
          .merch-img{
            height: calc(30vw - 55px);
            width: calc(30vw - 55px);
          }
        }
      }
    }
  }

  // width: 100px;
  // height: 100px;

}
@media all and (max-width: 900px) {
  body{
    .tldr-section{
      @include flex-direction(column);
      @include justify-content(center);
      min-height: calc(75vh - 160px);
      
      .text-container{
        width: 100%;
        h1{
        }
        p{
  
          &.disclaimer{
          }
        }
      }
      .img-container{  
        display: none;
        &.multiple-imgs{
          cursor: pointer;
        }
        
        &:before{
        }
  
        img{
        }
      }
    }
    .hero{
      .section-wrapper{
  
        .content-container{
        }
  
        h1{
          font-size: 40px;
        }
        p{
        }
        form{
          min-width: 100%;
          input{
          }
          button{
          }
        }
        .autocomplete-container{
  
          a{
          }
        }
      }
    }
    #artist-info{
      
      .artist-info-wrapper{
        padding: 100px 50px 25px;
      }
    }
    .related-artist-section{
  
      h2{
        
      }
      .artists-container{
        left: -5px;

        .pager{
        }
        .pagination-container{
  
          a{
            // &#link-2{
            //   margin-top: 100px;
            // }
            // &#link-4{
            //   margin-top: 100px;
            // }

            .image-conatiner{
              width: 100px;
              height: 100px;
  
              &.img-1{
                &:after{
                }
              }
              &.img-2{
                &:after{
                }
              }
              &.img-3{
                &:after{
                }
              }
              &.img-4{
                &:after{
                }
              }
  
              &:after{
              }
            }
            .related-artist-image{
            }
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 767px) {
  body{
    .hero{
      .section-wrapper{
  
        .content-container{
          padding: 50px 50px 0;
        }
  
        h1{
          font-size: 40px;
        }
        p{
        }
        form{
          input{
          }
          button{
          }
        }
        .autocomplete-container{
  
          a{
          }
        }
      }
    }
    #artist-info{
      
      .artist-info-wrapper{
        margin: 20px;
      }
    }
    .album-section{
      h2{
      }
      .album-container{
        padding-bottom: 10px;

        .img-container{
          height: calc(100vw - 140px);
          width: calc(100vw - 140px);
  
          &:before{
            height: calc(100vw - 120px);
            width: calc(100vw - 120px);
          }
          img{
            height: calc(100vw - 140px);
            width: calc(100vw - 140px);
          }
        }
        .album-summary{
        }
      }
    }
  }
}
@media all and (max-width: 639px) {
  body{
    header{
      padding: 45px 25px;
    }
    .hero{
      .section-wrapper{
        width: 90%;
        min-height: 95%;
        .content-container{
          padding: 50px 25px 0;
        }
  
        h1{
        }
        p{
        }
        form{
          input{
          }
          button{
          }
        }
        .autocomplete-container{
  
          a{
          }
        }
      }
    }
    #artist-info{
      
      .artist-info-wrapper{
        padding: 100px 25px 25px;
      }
    }
    .album-section{
      h2{
      }
      .album-container{

        .img-container{
  
          &:before{
          }
          img{
          }
        }
        .album-summary{
          .album-name{
            h4{
              font-size: 20px;
            }

          }
          .song-name{
            p{
              font-size: 14px;
            }
            span{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 500px) {
}
@media all and (max-width: 400px){
}