@use "~inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
@use "~inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: '~inter-ui/Inter (web)'
);
html {
  font-family: "Inter", "system-ui"; }

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui"; } }
@keyframes rainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } }
html, body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  overflow-x: hidden; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: unset; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%; }

h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px; }

span {
  font: inherit; }

section {
  width: 100%; }

.hide,
.hidden {
  display: none !important; }

.opacity-none {
  opacity: 0 !important; }

.img-wrapper img {
  width: 100%; }

strong {
  font-weight: 600; }

body:before {
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 300% 300%;
  box-sizing: border-box;
  -webkit-animation: rainbow 18s ease infinite;
  -moz-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
body:after {
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #0152E0;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none; }
body.load-page:after {
  opacity: 1; }
body header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  padding: 50px;
  position: absolute;
  top: 0;
  width: 100%; }
  body header a {
    text-decoration: none;
    color: black; }
  body header h4 {
    color: black;
    font-weight: 800;
    font-size: 20px; }
    body header h4:hover {
      color: #0152E0; }
  body header a {
    color: #0152E0; }
body .hero {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 5;
  padding: 50px;
  min-height: 100vh;
  min-width: 100vw; }
  body .hero.autocomplete-view .section-wrapper .content-container {
    top: 0; }
  body .hero.autocomplete-view .section-wrapper header {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px); }
  body .hero .section-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: white;
    overflow: hidden;
    width: 85%;
    min-height: 90%;
    padding: 75px 75px 50px 75px;
    margin: 50px;
    border-radius: 25px;
    position: absolute; }
    body .hero .section-wrapper .content-container {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      top: 22vh;
      padding: 75px 75px 0;
      position: absolute; }
    body .hero .section-wrapper h1 {
      padding-bottom: 30px;
      font-weight: 700;
      font-size: 65px;
      text-align: center; }
    body .hero .section-wrapper p {
      text-align: center;
      padding-bottom: 25px; }
    body .hero .section-wrapper form {
      display: -webkit-flex;
      display: flex;
      min-width: 75%;
      height: 44px;
      margin: 10px 0 0 0; }
      body .hero .section-wrapper form.autocomplete-active input {
        border-radius: 15px 0 0 0; }
      body .hero .section-wrapper form.autocomplete-active button {
        border-radius: 0 15px 0 0; }
      body .hero .section-wrapper form input {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        height: 100%;
        width: calc(100% - 60px);
        outline-width: 0;
        border: 1px solid #e2e2e2;
        border-right: none;
        border-radius: 15px 0 0 15px;
        padding-left: 15px; }
      body .hero .section-wrapper form button {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        background-color: white;
        border-radius: 0 15px 15px 0;
        border: 1px solid #e2e2e2;
        border-left: none;
        height: 100%;
        width: 60px; }
        body .hero .section-wrapper form button i {
          color: #999; }
    body .hero .section-wrapper .autocomplete-container {
      width: 100%;
      max-width: 75%;
      height: 0; }
      body .hero .section-wrapper .autocomplete-container a {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        background-color: white;
        color: #551A8B;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid #e6e6e6;
        border-top: none;
        padding: 10px;
        opacity: 1; }
body #artist-info {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 5;
  padding: 50px;
  min-height: 100vh;
  min-width: 100vw; }
  body #artist-info.autocomplete-view .section-wrapper .content-container {
    top: 0; }
  body #artist-info.autocomplete-view .section-wrapper header {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px); }
  body #artist-info .artist-info-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: white;
    overflow: hidden;
    width: 85%;
    min-height: 90%;
    padding: 75px 75px 50px 75px;
    margin: 50px;
    border-radius: 25px; }
body .tldr-section {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-height: calc(100vh - 160px);
  padding-bottom: 75px; }
  body .tldr-section .text-container {
    width: 75%;
    padding-right: 40px; }
    body .tldr-section .text-container.full-width {
      width: 100%; }
    body .tldr-section .text-container h1 {
      font-size: 100px; }
    body .tldr-section .text-container p {
      font-size: 4vw; }
  body .tldr-section .img-container {
    width: 25%; }
    body .tldr-section .img-container.multiple-imgs {
      cursor: pointer; }
      body .tldr-section .img-container.multiple-imgs:hover:before {
        height: 110%;
        width: 110%;
        bottom: -5%;
        right: -5%;
        border-radius: 15px; }
      body .tldr-section .img-container.multiple-imgs:hover img {
        border-radius: 15px; }
    body .tldr-section .img-container:before {
      content: "";
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: absolute;
      bottom: -10px;
      right: -10px;
      background: #ff2400;
      background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #dd00f3, #2b1de8, #1ddde8, #1de840, #e3e81d, #e8b71d, #e81d1d);
      background-size: 500% 500%;
      box-sizing: border-box;
      -webkit-animation: rainbow 2s ease infinite;
      -moz-animation: rainbow 2s ease infinite;
      animation: rainbow 2s ease infinite; }
    body .tldr-section .img-container img {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      width: 100%; }
body .related-artist-section {
  padding-bottom: 120px; }
  body .related-artist-section .artists-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border-radius: 25px;
    width: 100%; }
    body .related-artist-section .artists-container .pager {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      cursor: pointer;
      width: 30px;
      height: 100%; }
      body .related-artist-section .artists-container .pager:first-of-type {
        -webkit-justify-content: flex-start;
        justify-content: flex-start; }
    body .related-artist-section .artists-container .pagination-container {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      padding-right: 10px; }
      body .related-artist-section .artists-container .pagination-container a {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 20%;
        padding-left: 25px;
        text-decoration: none; }
        body .related-artist-section .artists-container .pagination-container a:hover .image-conatiner:after {
          -webkit-transform: translate(10px, -10px) scale(1.1);
          -moz-transform: translate(10px, -10px) scale(1.1);
          -ms-transform: translate(10px, -10px) scale(1.1);
          transform: translate(10px, -10px) scale(1.1); }
        body .related-artist-section .artists-container .pagination-container a:hover .image-conatiner.img-1:after {
          -webkit-transform: translate(5px, -10px) scale(1.1);
          -moz-transform: translate(5px, -10px) scale(1.1);
          -ms-transform: translate(5px, -10px) scale(1.1);
          transform: translate(5px, -10px) scale(1.1); }
        body .related-artist-section .artists-container .pagination-container a:hover .image-conatiner.img-2:after {
          -webkit-transform: translate(0, -10px) scale(1.1);
          -moz-transform: translate(0, -10px) scale(1.1);
          -ms-transform: translate(0, -10px) scale(1.1);
          transform: translate(0, -10px) scale(1.1); }
        body .related-artist-section .artists-container .pagination-container a:hover .image-conatiner.img-3:after {
          -webkit-transform: translate(-5px, -10px) scale(1.1);
          -moz-transform: translate(-5px, -10px) scale(1.1);
          -ms-transform: translate(-5px, -10px) scale(1.1);
          transform: translate(-5px, -10px) scale(1.1); }
        body .related-artist-section .artists-container .pagination-container a:hover .image-conatiner.img-4:after {
          -webkit-transform: translate(-10px, -10px) scale(1.1);
          -moz-transform: translate(-10px, -10px) scale(1.1);
          -ms-transform: translate(-10px, -10px) scale(1.1);
          transform: translate(-10px, -10px) scale(1.1); }
        body .related-artist-section .artists-container .pagination-container a:first-of-type {
          padding-left: 0px; }
          body .related-artist-section .artists-container .pagination-container a:first-of-type img {
            width: calc(100% - 20px); }
        body .related-artist-section .artists-container .pagination-container a .image-conatiner {
          width: 150px;
          height: 150px; }
          body .related-artist-section .artists-container .pagination-container a .image-conatiner.img-1:after {
            left: -5px;
            background-color: #e3e81d; }
          body .related-artist-section .artists-container .pagination-container a .image-conatiner.img-2:after {
            left: 0;
            background-color: #1de840; }
          body .related-artist-section .artists-container .pagination-container a .image-conatiner.img-3:after {
            left: 5px;
            background-color: #1ddde8; }
          body .related-artist-section .artists-container .pagination-container a .image-conatiner.img-4:after {
            left: 10px;
            background-color: #2b1de8; }
          body .related-artist-section .artists-container .pagination-container a .image-conatiner:after {
            content: "";
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            position: absolute;
            bottom: -10px;
            left: -10px;
            height: 100%;
            width: 100%;
            background: #ff2400;
            border-radius: 50%; }
        body .related-artist-section .artists-container .pagination-container a .related-artist-image {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          background-size: cover !important;
          z-index: 1; }
        body .related-artist-section .artists-container .pagination-container a p {
          text-align: center;
          padding-top: 15px;
          color: black;
          font-size: 18px; }
body .album-section {
  border-radius: 15px;
  padding-bottom: 50px; }
  body .album-section .album-container {
    display: -webkit-flex;
    display: flex;
    padding-bottom: 30px; }
    body .album-section .album-container .img-container {
      height: 300px;
      width: 300px; }
      body .album-section .album-container .img-container:before {
        content: "";
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: absolute;
        bottom: -10px;
        left: -10px;
        height: 300px;
        width: 300px;
        background: #ff2400;
        background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3); }
      body .album-section .album-container .img-container:hover:before {
        -webkit-animation: rainbow 1s ease infinite;
        -moz-animation: rainbow 1s ease infinite;
        animation: rainbow 1s ease infinite; }
      body .album-section .album-container .img-container.album-1:before {
        transform: rotate(90deg); }
      body .album-section .album-container .img-container.album-2:before {
        transform: rotate(180deg); }
      body .album-section .album-container .img-container.album-3:before {
        transform: rotate(0deg); }
      body .album-section .album-container .img-container.album-4:before {
        transform: rotate(90deg); }
      body .album-section .album-container .img-container.album-5:before {
        transform: rotate(180deg); }
      body .album-section .album-container .img-container.album-6:before {
        transform: rotate(0deg); }
      body .album-section .album-container .img-container.album-7:before {
        transform: rotate(90deg); }
      body .album-section .album-container .img-container.album-8:before {
        transform: rotate(180deg); }
      body .album-section .album-container .img-container.album-9:before {
        transform: rotate(0deg); }
      body .album-section .album-container .img-container.album-10:before {
        transform: rotate(90deg); }
      body .album-section .album-container .img-container img {
        height: 300px;
        width: 300px; }
body .album-summary {
  box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.2);
  padding: 12px 10px 0px;
  width: calc(100% - 325px);
  margin-left: 25px;
  border-radius: 5px; }
  body .album-summary.singles {
    width: 100%;
    margin-left: 0px; }
  body .album-summary .album-name {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    body .album-summary .album-name h4 {
      width: unset;
      font-size: 30px;
      font-weight: 600; }
    body .album-summary .album-name span {
      color: #777;
      white-space: nowrap;
      padding-left: 5px; }
  body .album-summary .song-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    color: #333; }
    body .album-summary .song-container.total {
      padding-top: 5px; }
    body .album-summary .song-container:last-of-type {
      border-bottom: none; }
    body .album-summary .song-container .img-text-container {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      body .album-summary .song-container .img-text-container img {
        width: 50px;
        border-radius: 3px;
        padding-right: 10px; }
    body .album-summary .song-container p {
      font-weight: 600; }
    body .album-summary .song-container span .amt-of-streams {
      font-size: 11px;
      color: #777; }
body .singles-section {
  padding-bottom: 75px; }
body .support-artist-section h2 {
  padding-bottom: 15px; }
body .support-artist-section p {
  text-align: center;
  padding-bottom: 20px;
  padding-bottom: 45px; }
body .support-artist-section .merch-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center; }
  body .support-artist-section .merch-container .merch-item {
    width: calc(30vw - 125px);
    text-decoration: none;
    margin-right: 3vw; }
    body .support-artist-section .merch-container .merch-item:last-of-type {
      margin-right: 0; }
    body .support-artist-section .merch-container .merch-item .merch-img {
      width: 100%;
      height: calc(30vw - 125px);
      box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.2); }
    body .support-artist-section .merch-container .merch-item .name-price-container {
      display: -webkit-flex;
      display: flex;
      padding-top: 15px; }
      body .support-artist-section .merch-container .merch-item .name-price-container p {
        color: black;
        width: 75%;
        text-align: left;
        font-weight: 500; }
      body .support-artist-section .merch-container .merch-item .name-price-container span {
        color: black;
        text-align: right;
        width: 25%;
        font-weight: 500; }

.credit span a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700; }

@media all and (max-width: 1279px) {
  body #artist-info {
    padding: 0; }
  body .related-artist-section .artists-container .pagination-container a div {
    width: 100px;
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
